<div class="container user-profile-page">
  <div class="row">
    <div class="col-md-3 ">
      <div class="list-group ">
        <button (click)="changeActiveBtn(0)" [ngClass]="{'active':isClicked[0]}" class="list-group-item list-group-item-action">Dashboard</button>
        <button (click)="changeActiveBtn(1)" [ngClass]="{'active':isClicked[1]}" class="list-group-item list-group-item-action ">User Management</button>
        <button (click)="changeActiveBtn(2)" [ngClass]="{'active':isClicked[2]}" class="list-group-item list-group-item-action">Used</button>
        <button (click)="changeActiveBtn(3)" [ngClass]="{'active':isClicked[3]}" class="list-group-item list-group-item-action">Enquiry</button>
        <button (click)="changeActiveBtn(4)" [ngClass]="{'active':isClicked[4]}" class="list-group-item list-group-item-action">Dealer</button>
        <button (click)="changeActiveBtn(5)" [ngClass]="{'active':isClicked[5]}" class="list-group-item list-group-item-action">Media</button>
        <button (click)="changeActiveBtn(6)" [ngClass]="{'active':isClicked[6]}" class="list-group-item list-group-item-action">Post</button>
        <button (click)="changeActiveBtn(7)" [ngClass]="{'active':isClicked[7]}" class="list-group-item list-group-item-action">Category</button>
        <button (click)="changeActiveBtn(8)" [ngClass]="{'active':isClicked[8]}" class="list-group-item list-group-item-action">New</button>
        <button (click)="changeActiveBtn(9)" [ngClass]="{'active':isClicked[9]}" class="list-group-item list-group-item-action">Comments</button>
        <button (click)="changeActiveBtn(10)" [ngClass]="{'active':isClicked[10]}" class="list-group-item list-group-item-action">Appearance</button>
        <button (click)="changeActiveBtn(11)" [ngClass]="{'active':isClicked[11]}" class="list-group-item list-group-item-action">Reports</button>
        <button (click)="changeActiveBtn(12)" [ngClass]="{'active':isClicked[12]}" class="list-group-item list-group-item-action">Settings</button>


      </div>
    </div>
    <div class="col-md-9" *ngIf="isClicked[0]">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Let's get to know you!</h4>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form>
                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">User Name*</label>
                  <div class="col-8">
                    <input id="email" name="email" placeholder="ex@ample.com" class="form-control here" required="required" type="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">First Name</label>
                  <div class="col-8">
                    <input id="name" name="name" placeholder="First Name" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">Last Name</label>
                  <div class="col-8">
                    <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label">About Me</label>
                  <div class="col-8">
                    <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="country" class="col-4 col-form-label">Country</label>
                  <div class="col-8">
                    <input id="country" name="country" placeholder="Wonderland" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="col-md-9" *ngIf="isClicked[1]">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>More options</h4>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              Some text

            </div>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
